
.header{
    font-family: Montserrat, sans-serif;
    color:  #fff;
    font-size: 12.2px;
    font-weight: 500;
    width: 100%;
    height: 37px;
    background-color: rgb(52, 57, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding-left: 5.5%;
}
.navigation{
    padding-bottom: 2.1px;
}
.main-menu{
    position: absolute;
    top: 37px;
    right: 0;
    display: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
}
.menu-item{
    font-family: Lato, sans-serif;
    font-size: 12px;
    background-color:  #fafafa;
    border: 1px solid rgb(243, 243, 243);
    padding: 9px 95px 9px 12px;
}
.menu-item:hover{
    background-color:  #f5f5f5;
}
.menu-item > a{
    color:  #444;
    text-decoration: none;
}
.logo{
    display: none;
}
.burger{
    background-color: rgb(26, 32, 37);
    display: block;
    width: 41px;
    line-height: 37px;
    text-align: center;
    font-size: 15px;
}
.front-page{
    background: url(../img/mobile/header.png) no-repeat center/cover;
    font-family: Lato, sans-serif;
    color:  #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    padding: 3.4% 0 27.5% 6.5%;
    margin-bottom: 1.2%;
    letter-spacing: 0.6px;
}
.front-page > a{
    color:  #a6d6e0;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.2px;
    text-decoration: none;
}
.menu-bg{
    margin-bottom: 0.3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pizza{
    background: url(../img/mobile/pizza.png) no-repeat center/cover;
}
.menu-bg-text{
    font-family: Lato, sans-serif;
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}
.pizza-title{
    position: relative;
    top: -3px;
    left: 2px;
    letter-spacing: 0.2px;
}
.salads{
    background: url(../img/mobile/salads.png) no-repeat center/cover;
}
.salads-title{
    position: relative;
    left: 12px;
    top: -1px;
    letter-spacing: 0.3px;
}
.desserts{
    background: url(../img/mobile/desserts.png) no-repeat center/cover;
}
.desserts-title{
    position: relative;
    top: -2px;
    left: -2px;
    letter-spacing: 0.1px;
}
.menu-open{
    background-color: rgb(173, 217, 175);
    color: #fff;
    padding: 8.4% 10% 9.8% 9.8%;
}
.for-title-menu{
    font-family: Lato, sans-serif;
    padding: 6.6% 1% 3% 2.4%;
}
.title-menu{
    color:  #3f4043;
    font-size: 20px;
    text-transform: uppercase;
}
.subtitle-menu{
    color:  #cbcdce;
    font-size: 10px;
    padding-left: 0.5%;
    padding-top: 1%;
}
.logo-of-menu{
    display: none;
    position: relative;
    top: -10px;
    left: -2%;
}
.restaurant-menu{
    font-family: Lato, sans-serif;
    margin-bottom: 11.2%;
}
.restaurant-menu-block{
    font-size: 20.07px;
    text-transform: uppercase;
    padding: 2.7% 0 2.7% 5.5%;
}
.menu-block-grey{
    color:  #acd9ad;
    background-color: rgb(61, 62, 65);
}
.menu-block-green{
    color:  #fff;
    background-color: rgb(173, 217, 174);
}
.restaurant-menu-title{
    color:  #3f4043;
    font-size: 15.05px;
    text-transform: uppercase;
    padding: 5.4% 5.5% 6.3%;
}
.fa-wine-glass-alt{
    position: relative;
    left: -35%;
}
.fa-coffee{
    position: relative;
    left: 7%;
    top: -2px;
}
.fa-beer{
    position: relative;
    left: -20%;
    top: -1px;
}
.img-menu{
    color: rgb(173, 217, 174);
    float: right;
    font-size: 24px;
    position: relative;
    bottom: 5px;
}
.restaurant-menu-list{
   padding: 0 5.3% 0 6%;
   margin-bottom: -2%;
}
.fa-circle{
    font-size: 2px;
    margin-left: -0.7%;
    margin-right: 1.4%;
    position: relative;
    top: -2.6px;
}
.dish{
    color:  #3f4043;
    font-size: 13.55px;
    margin-bottom: 2.3%;
}
.dish-description{
    color:  #3f4043;
    font-size: 8.78px;
    text-align: justify;
    line-height: 11px;
    margin-left: -0.7%;
    margin-bottom: 3.1%;
}
.price{
    color:  #3f4043;
    font-size: 13.55px;
    font-weight: 700;
    float: right;
}
.footer{
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    background-color: rgb(173, 217, 174);
    padding: 11px 38px;
    margin-top: 16.4%;
}
@media (min-width: 640px){
    .header{
        height: 74px;
    }
    .navigation{
        font-size: 24px;
    }
    .main-menu{
        top: 74px;
    }
    .menu-item{
        font-size: 14px;
        padding: 12px 120px 12px 28px;
    }
    .burger{
        width: 82px;
        line-height: 74px;
        font-size: 29px;
    }
    .front-page{
        font-size: 36px;
        line-height: 38px;
    }
    .front-page > a{
        font-size: 24px;
    }
    .pizza{
        background: url(../img/tablet/pizza.png) no-repeat center/cover;
    }
    .salads{
        background: url(../img/tablet/salads.png) no-repeat center/cover;
    }
    .desserts{
        background: url(../img/tablet/desserts.png) no-repeat center/cover;
    }
    .menu-bg-text{
        font-size: 36px;
    }
    .menu-open{
        font-size: 29px;
    }
    .title-menu{
        font-size: 40px;
    }
    .subtitle-menu{
        font-size: 20px;
    }
    .restaurant-menu-block{
        font-size: 40px;
    }
    .restaurant-menu-title{
        font-size: 30px;
    }
    .dish{
        font-size: 27px;
    }
    .dish-description{
        font-size: 17px;
        line-height: 26px;
    }
    .img-menu{
    font-size: 40px;
    }
    .price{
        font-size: 27px;
    }
    .fa-circle {
        font-size: 4px;
        top: -7.6px;
    }
    .footer{
        font-size: 18px;
        line-height: 26px;
        margin-top: 0;
    }
}
@media (min-width: 980px){
    .header{
        height: 97px;
        padding-left: 2.5%;
    }
    .navigation{
        display: none;
    }
    .main-menu{
        display: flex;
        position: relative;
        box-shadow: none;
        top: 0;
    }
    .menu-item{
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        line-height: 26px;
        padding-right: 15px;
        display: inline-block;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
    }
    .menu-item:hover{
        background-color:  transparent;
    }
    .menu-item > a{
        color:  #ececec;
    }
    .burger{
        display:none;
    }
    .logo{
        display: block;
        padding-right: 3%;
    }
    .front-page{
        background: url(../img/pc/header.png) no-repeat center/cover;
        font-size: 54px;
        line-height: 64px;
        margin-bottom: 0.6%;
    }
    .front-page > a{
        font-size: 34px;
    }
    .menu-bg-text{
        font-size: 38px;
        padding: 44% 0;
    }
    .menu-sections-bg{
        display: flex;
    }
    .menu-bg{
        width: 100%;
    }
    .pizza{
        background: url(../img/pc/pizza.png) no-repeat center/cover;
    }
    .salads{
        background: url(../img/pc/salads.png) no-repeat center/cover;
    }
    .desserts{
        background: url(../img/pc/desserts.png) no-repeat center/cover;
    }
    .for-title-menu{
        padding-top: 3.6%;
    }
    .title-menu{
        font-size: 34px;
    }
    .menu-open{
        display: none;
    }
    .menu-flex{
        display: flex; 
    }
    .restaurant-menu-block{
        font-size: 34px;
    }
    .restaurant-menu-title{
        font-size: 24px;
    }
    .img-menu {
        font-size: 35px;
    }
    .dish{
        font-size: 24px;
    }
    .price{
        font-size: 24px;
    }
    .dish-description{
        font-size: 16px;
        line-height: 20px;
    }
    .for-title-menu{
        display: flex;
        justify-content: space-between;
    }
    .logo-of-menu{
        display: block;
        height: 0;
    }
    .restaurant-menu{
        margin-bottom: 8%;
        width: 100%;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        font-size: 18px;
    }
    .footer-text{
        display: inline-block;
    }
}
@media (min-width: 1200px){
    .front-page{
        font-size: 62px;
        line-height: 64px;
    }
    .front-page > a{
        font-size: 38px;
    }
    .menu-bg-text{
        font-size: 43px;
    }
    .title-menu{
        font-size: 40px;
    }
    .restaurant-menu-block{
        font-size: 40px;
    }
    .restaurant-menu-title{
        font-size: 30px;
    }
    .img-menu {
        font-size: 40px;
    }
    .dish {
        font-size: 27px;
    }
    .price{
        font-size: 27px;
    }
    .dish-description{
        font-size: 17.5px;
    }
}