.main-block {
    background-image: url(../img/background.png);
    width: 1366px;
    height: 100%;
    margin: 0px auto; 
    font-family:  Verdana, sans-serif;
    color:  #fff;
    word-wrap: break-word;
    position: relative;
    line-height: 21px;
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: #f26522;
}
.logo{
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-left: 151px;
    margin-top: 49px;
}
.logo:hover{
    background-image: url(../img/logo_event.png);
}
.logo-name{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    width: 120px;
    margin-left: 55px;
    padding-top: 1px;
}
.logo-name-span{
    font-size: 18px;
}
.address{
    font-size: 18px;
    float: right;
    width: 245px;
    margin-right: 151px;
    margin-top: 60px;
    text-align: right;
}
.set-of-pictures{
    clear: both;
    display: grid;
    grid-template-columns: 307px 307px 307px;
    grid-column-gap: 69px;
    font-size: 18px;
    padding-left: 151px;
    padding-top: 49px;
    position: relative;
}
.pic-size{
    width: 307px;
    height: 200px;
} 
.picture{
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
	border-image: linear-gradient(to bottom, #fff 0%, #000 100%);
    border-image-slice: 1;
    position: relative;
    box-shadow: 0px 17px 24px 0px #000;
}
.picture-name{
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 48px;
}
.picture-info{
    position: absolute;
    background-color: #f26522;
    color: #fff;
    width: 100%;
    height: 60px;
    top: 140px;
    opacity: 0;
}
.picture:hover .picture-info{
    opacity: 1;
    transition: 1s;
}
.name-price{
    position: absolute;
    width: 40px;
    font-size: 10px;
    top: 10px;
    line-height: 17px;
    left: 20px;
}
.price{
    font-size: 20px;
}
.view-details{
    position: absolute;
    font-size: 14px;
    top: 28px;
    left: 189px;
}
.view-details:hover{
    cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto;
}
.copy{
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}