.main_block{
    font-family: 'Roboto', sans-serif;
    width: 1349px;
    height: max-content;
    text-align: center;
}
.main_block-night{
    background: url(../img/background.png) no-repeat center / cover;
    width: 100%;
    height: 100%;
}
.logo{
    font-size: 80px;
    padding: 40px 0 0 40px;
    text-align: left;
}
.logo-night{
    animation: neon .08s ease-in-out infinite alternate;
}
@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
}
.logo_link{
    text-decoration: none;
    color: #000;
}
.logo_color{
    color: #4bcaff;
}
.logo_color-night{
    color: #c6e2ff;
}
.btn-change{
    font-family: 'Roboto', sans-serif;
    background-color:#35444f;
    color: #fff;
    border-radius: 3px;
    margin-right: 42px;
    float: right;
    outline: none;
    border-color: #222f3a;
}
.main_menu{
    width: 1267px;
    height: 69px;
    line-height: 69px;
    background-color:#35444f;
    font-size: 24px;
    color: #fff;
    margin: 40px auto 40px 40px;
    box-sizing: border-box;
    padding-left: 145px;
}
.menu_list{
    float: left;
    color: #fff;
    padding: 0px 35px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}
.menu_list:hover{
    background-color: #222f3a; 
    border-left: 1px solid rgb(129, 129, 129);
    border-right: 1px solid rgb(129, 129, 129);
}
.menu_list-night:hover{
    color: #4bcaff;
    text-shadow: 1px 1px 2px black, 0 0 1em #4bcaff;
}
.vertical_menu{
    border: 1px solid black;
    width: 330px;
    height: max-content;
    float: left;
    font-size: 27px;
    line-height: 80px;
    text-align: left;
    margin-left: 40px;
}
.vertical_menu-night{
    background-color:#35444f;
    border: 0;
}
.vertical_list{
    padding-left: 40px;
    float: left;
    width: 100%;
    color: #485863;
    box-sizing: border-box;
}
.vertical_list:hover{
    background-color: rgb(220, 220, 220);
    padding-left: 70px;
    color: #000;
}
.vertical_list-night{
    color: #fff;
}
.vertical_list-night:hover{
    background-color: #222f3a; 
    color: #4bcaff;
    text-shadow: 1px 1px 2px black, 0 0 1em #4bcaff;
}
.picture{
    border: 1px solid black;
    width: 892px;
    height: 495px;
    float: left;
    margin-left: 40px;
    padding-top: 65px;
    overflow:hidden;
}
.picture-night{
    border: 0px;
}
.picture img {
    transition: all 1s ease-out;
}
.picture img:hover{
    transform: scale(1.06);
}
.text{
    width: 852px;
    height: max-content;
    font-size: 17px;
    color:  #2c2b2b;
    line-height: 24px;
    text-align: left;
    float: right;
    margin: 15px 60px 35px 0px;
}
.text-night{
    color: rgb(230, 230, 230);
}
.text_style{
    padding-top: 20px;
}
.footer{
    width: 1267px;
    height: 69px;
    line-height: 69px;
    clear: both;
    background-color:rgb(181, 184, 187);
    font-size: 24px;
    margin: 45px auto 40px auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.footer-night{
    background-color:#35444f;
    color: #fff;
}
.footer-link{
    margin-right: 22px;
    text-decoration: none;
    color: #0c1927;
    float: left;
}
.footer-link-night{
    color: #fff;
}
.footer_copy{
    text-align: right;
}