*{margin: 0px; padding: 0px}
.main_block{
    font-family: sans-serif;
    font-weight: 900;
    width: 1349px;
    height: max-content;
    letter-spacing: 1px;
    text-align: center;
}
.main_menu{
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    font-size: 18px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin-right: 75px;
}
header{
    height: 80px;
    line-height: 80px;
}
.picture_background{
    width: 1349px;
    height: 833px;
}
.picture{
    width: 100%;
}
.text_body{
    width: 100%;
    background-color: rgb(232, 234, 235);
    color: rgb(37, 37, 37);
    box-sizing: border-box;
}
.head_text{
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    padding-top: 20px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    margin: 10px auto;
}
.button_body{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
    letter-spacing: 1px;
    width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color: #16a085;
    margin: 40px auto 80px auto;
}
.footer{
    height: 93px;
    line-height: 93px;
    margin-right: 80px;
}
.footer_margin{
    font-size: 16px;
    color: rgb(37, 37, 37);
    text-align: right;
}