.main_block{
    background-image: url(../img/main_background.png);
    background-size: cover; 
    background-repeat:no-repeat;
    height: 100%;
    font-family: Verdana, sans-serif;
    text-align: center;
}
header{
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
    line-height: 54px;
    padding: 0px 80px;
    color:  #fff;
}
.header_name{
    text-transform: uppercase;
    font-size: 20px;
    float: left;
    font-weight: 700;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.header_name:hover{
    color:  #3cb878;
}
.header_menu{
    float: right;
    font-size: 14px;
    width: 250px;
}
.header_menu::before{
    content: " ";
    height: 20px;
    border: 1px solid grey;
    margin: 0px 25px;
}
.link{
    color: #3cb878;
    text-decoration: none;
}
ul > a > li {
    display: inline-block;
    list-style: none;
    background: url(../img/header-icons.png);
    width: 25px;
    height: 20px;
    margin-left: 17px;
    margin-top: 16px;
}
.header_menu_icon{
    float: right;
}
.icon_calendar{
    background-image: url(../img/header-icons.png);
    background-position: 0px -20px;
    -webkit-transition: background-image 1s;
    transition: background-image 1s;
}
.icon_forum{
    background-image: url(../img/header-icons.png);
    background-position: 100px -20px;
    -webkit-transition: background-image 1s;
    transition: background-image 1s;
}
.icon_journey{
    background-image: url(../img/header-icons.png);
    background-position: -100px -20px;
    -webkit-transition: background-image 1s;
    transition: background-image 1s;
}
.icon_calendar:hover{
    background-image: url(../img/header-icons-hover.png);
    background-position: 0px -20px;
}
.icon_forum:hover{
    background-image: url(../img/header-icons-hover.png);
    background-position: 100px -20px;
}
.icon_journey:hover{
    background-image: url(../img/header-icons-hover.png);
    background-position: -100px -20px;
}
.form{
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 8px;
    width: 444px;
    height: 584px;
    margin: 65px auto;
    padding-top: 26px;
}
.sign_up{
    float: left;
    width: 157px;
    height: 33px;
    color:  #434343;
    font-size: 20px;
    padding-left: 22px;
    position: relative;
}
.sign_up::before{
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 2px;
    left: 0px;
}
.log_in{
    float: right;
    width: 157px;
    height: 33px;
    color:  #3cb878;
    font-size: 14px;
}
.facebook{
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    float: left;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    margin-left: 61px;
    position: relative;
    padding-left: 37px;
    box-sizing: border-box;
}
.facebook_text::before{
    content: url(../img/facebook.png);
    position: absolute;
    border-right: 1px solid grey;
    height: 40px;
    top: 3px;
    left: 18px;
    padding-right: 16px;
}
.google{
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    float: right;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-left: 37px;
    margin-right: 61px;
    box-sizing: border-box;
}
.google_text::before{
    content: url(../img/G+.png);
    position: absolute;
    border-right: 1px solid grey;
    height: 41px;
    top: 2px;
    left: 14px;
    padding-right: 8px;
}
.line{
    position: relative;
    clear: both;
    width: 322px;
    margin: 0px auto;
    padding-top: 35px;
    padding-bottom: 21px;
}
.line_text{
    position: absolute;
    top: 37px;
    left: 136px;
    width: 50px;
    color: #848484;
    font-size: 14px;
    background-color: #fff;
}
.style_input{
    border-radius: 4px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 322px;
    height: 46px;
    font-family: Verdana;
    font-size: 14px;
    padding-left: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.form_check{
    margin-left: -50px;
    padding-top: 30px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../img/checkbox_unchecked.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}
input[type="checkbox"]:checked + label span {
    background: url(../img/checkbox_checked.svg) no-repeat;
    background-size: contain;
}
.button_style{
    font-family: Verdana;
    width: 322px;
    height: 46px;
    border-radius: 4px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    font-size: 16px;
    background-color: #3cb878;
    color: #fff;
    margin-top: 28px;
} 
    