table{
    border:23px solid rgb(55, 71, 101);
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    font-family: Arimo, sans-serif;
    color:  #484848;
    text-transform: uppercase;
}
.table_name{
    width: 310px;
    background-color:#fafafa;
    font-size: 18px;
}
.table_name > span{
    font-size: 30px;
}
.head_name{
    width: 277px;
    height: 70px;
    font-size: 24px;
    color: #fff;
}
.standart{
    background-color:  #89c331;
}
.ultimate{
    background-color: #f04a56;
    font-size: 30px;
}
.premium{
    background-color:  #20807c;
}
.body_line_height{
    height: 69px;
}
.light_gray_line{
    background-color:#fafafa;
}
.medium_gray_line{
    background-color:  #f2f2f2;
}
.grey_line{
    background-color:  #e3e3e3;
    
}
.fone_button_contact{
    background-color: rgb(222, 222, 222);
}
.price{
    height: 86px;
    font-size: 60px;
    position: relative;
    font-weight: 700;
    text-align: left;
    padding-left: 34px;
}
.span_price{
    font-size: 24px;
    position: absolute;
    top: 17px;
    left: 135px;
}
.span_text{
    font-size: 18px;
    position: absolute;
    font-weight: 400;
    top: 49px;
    left: 135px;
}
.fas{
    color: #848484;
    font-size: 24px;
    position: relative;
}
.far{
    color: #848484;
    font-size: 24px;
    position: relative;
}
.font_awesome{
    font-size: 16px;
    font-weight: 400;
    font-family: Arimo, sans-serif;
    color: #484848;
    margin-left: 12px;
    position: absolute;
    top: 4px;
}
.align_left{
    text-align: left;
}
.storage_padding{
    padding-left: 99px;
}
.bandwidth_padding{
    padding-left: 87px;
}
.email_padding{
    padding-left: 113px;
}
.support_padding{
    padding-left: 98px;
}
.products_padding{
    padding-left: 98px;
}
.users_padding{
    padding-left: 108px;
}
td{
    box-shadow: -15px 0px 15px -18px inset rgb(180, 180, 180);
}
th{
    box-shadow: -15px 0px 15px -18px inset rgb(180, 180, 180);
}
.button{
    width: 192px;
    height: 49px;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 31px auto;
    border: 0px;
    border-radius: 5px;
    transition: all 500ms ease; 
}
@keyframes buttons_are_jumping {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(-10px);
    }
}
.button:hover {
    animation: buttons_are_jumping 1s;
}
.button_contact{
    background-image: linear-gradient(to bottom,  #484848 84%, rgb(62, 62, 62) 16%);
}
.button_standart{
    background-image: linear-gradient(to bottom,  #89c331 84%, rgb(122, 177, 34) 16%);
}
.button_ultimate{
    background-image: linear-gradient(to bottom,  #f04a56 84%, rgb(224, 55, 68) 16%);
}
.button_premium{
    background-image: linear-gradient(to bottom,  #20807c 84%, rgb(14, 116, 111) 16%);
}
