*{margin: 0px; padding: 0px;}
.main_block{
    font-family: sans-serif;
    width: 1349px;
    height: max-content;
    text-align: center;
}
.logo{
    font-size: 80px;
    font-weight: 400;
    margin: 40px auto auto 40px;
    text-align: left;
}
.logo_style{
    text-decoration: none;
    color: black;
}
.logo_color{
    color: #4bcaff;
}
.main_menu{
    width: 1267px;
    height: 69px;
    line-height: 69px;
    background-color:#35444f;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 40px auto 40px 40px;
    box-sizing: border-box;
    padding-left: 145px;
}
.menu_list{
    float: left;
    padding: 0px 35px;
}
.menu_list:hover{
    background-color: #222f3a; 
    border-left: 1px solid rgb(129, 129, 129);
    border-right: 1px solid rgb(129, 129, 129);
}
.vertical_menu{
    border: 1px solid black;
    width: 330px;
    height: max-content;
    float: left;
    
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    margin-left: 40px;
}
.vertical_list_style{
    padding-left: 40px;
}
.vertical_list_style:hover{
    background-color: rgb(220, 220, 220);
    padding-left: 70px;
    color: black;
}
.picture{
    border: 1px solid black;
    width: 892px;
    height: 495px;
    float: left;
    margin-left: 40px;
    padding-top: 65px;
    
}
.picture_size{
    overflow:hidden;
}
.picture_size img {
    -webkit-transition: all 1s ease-out;
}
.picture_size img:hover{
    -webkit-transform: scale(1.06);
}
.text{
    width: 852px;
    height: max-content;
    font-size: 17px;
    font-weight: 400;
    color:  #2c2b2b;
    line-height: 24px;
    text-align: left;
    float: right;
    margin: 15px 55px 35px 0px;
}
.text_style{
    padding-top: 20px;
}
.footer{
    width: 1267px;
    height: 69px;
    line-height: 69px;
    clear: both;
    background-color:rgb(181, 184, 187);
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin: 45px auto 40px auto;
    box-sizing: border-box;
}
.footer_list{
    float: left;
    padding: 0px 0px 0px 30px;
}
.footer_list_copy{
    padding: 0px 0px 0px 235px;
}