body{
    background-color: rgb(211, 211, 211);
}
.table{
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    background-color: #fff;
}
.td{
    border: 2px solid rgb(105, 105, 105);
    width: 20px;
    height: 20px;
}
.td-black{
    background-color: #000;
}
