.bg-section{
    font-family: Montserrat, sans-serif;
    color: #fff;
    box-sizing: border-box;
    padding: 130px 0 140px;
    text-align: center;
}
.wht-section{
    font-family: Montserrat, sans-serif;
    padding: 130px 0 140px;
    background-color: #fff;
    text-align: center;
}
.section-parallax{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
}
.section-title{
    background-image: url(../img/title.jpg);
    padding: 0;
    height: 100vh;
    position: relative;
}
.section-speedometer{
    background-image: url(../img/speedometer.jpg);
}
.section-tree{
    background-image: url(../img/tree.jpg);
}
.section-bridge{
    background-image: url(../img/bridge.jpg);
}
.btn{
    font-family: Montserrat, sans-serif;
    background-color: #222f3a; 
    color: #fff;
    padding: 5px 20px;
    opacity: 0.6;
    cursor: pointer;
}
.btn-top{
    position: fixed;
    bottom: 0;
    left: 90%;  
    display: none;
    text-transform: uppercase;
    z-index: 10;
}
.btn-toggle{
    position: relative;
    width: 50px;
    left: 46%;
    top: -26px;
}
.btn:hover{
    opacity: 1;
    color: #4bcaff;
    text-shadow: 1px 1px 2px black, 0 0 1em #4bcaff;
}
.main-title{
    position: absolute;
    bottom: 85px;
}
.main-menu{
    height: 110px;
    background-color:  #fff;
    line-height: 110px;
    font-weight: 700;
    color:  #3e4b4e;
    font-size: 15px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.company-name{
    color:  #424f57;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 5%;
}
.name-span{
    color:  #14afca;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.menu-list{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 52px;
    display: inline-block;
}
.menu-list > a{
    text-decoration: none;
    color:  #424f57;
}
.menu-list > a:hover{
    color:  #14afca;
}
.title{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    margin-left: 100px;
}
.title-text{
    font-family: Lato, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    margin: 12px auto 28px 100px;
    text-align: left;
}
.title-block{
    height: 129px;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #fff;
    line-height: 129px; 
    margin-left: 100px;
}
.block-text-span{
    width: 152px;
    color:  #f1ad1d;
    background-color: #fff;
    float: left;
}
.block-text{
    width: 831px;
    background-color:  rgba(0, 0, 0, 0.3);
}
.sec-title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color:  #333;
    position: relative;
    margin-bottom: 30px;
}
.sec-text{
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    position: relative;
}
#trust{
    position: relative;
    top: -26px;
}
.orange-line::after{
    content: '';
    position: absolute;
    background-color:  #f1ad1d;
    width: 60px;
    height: 2px;
    top: 56px;
    left: 47%;
}
.orange-span{
    color: #f1ad1d;
}
.text-white{
    color: #fff;
}
.logo-companies{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logo-company{
    padding: 0 30px;
}
.text-bg_bridge{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.link-bg_bridge{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #f1ad1d;
    font-size: 18px;
    position: relative;
}
.white-line::after{
    content: '';
    position: absolute;
    background-color:  #fff;
    width: 281px;
    height: 2px;
    left: 53px;
    top: 60px;
}