.main-block{
    background-image: url(../img/stars.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.fade{
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
.star-wars{
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #fcd128;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 695%;
    font-weight: 600;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}
.crawl{
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 30s linear infinite;
}
  
.title{
    font-size: 90%;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.text{
    margin-bottom: 80px;
}
@keyframes crawl {
      0% {
      top: 300px;
      transform: rotateX(25deg)  translateZ(250px);
    }
      100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2200px);
    }
}