.main-block{
  font-family: Montserrat, sans-serif;
  text-align: center;
}
.bg-section{
  width: 100%;
  height: 100vh;
  color: #fff;
  box-sizing: border-box;
  padding: 130px 0px;
}
.wht-section{
  padding: 130px 0px;
  background-color: #fff;
}
.section-bg1{
  background: url(../img/bg1.jpg) no-repeat center / cover;
  background-attachment: fixed;
  padding: 300px 0px 0px 82px;
}
.section-bg2{
  background: url(../img/bg2.jpg) no-repeat center / cover;
  background-attachment: fixed;
  height: auto;
}
.section-bg3{
  background: url(../img/bg3.jpg) no-repeat center / cover;
  background-attachment: fixed;
  height: auto;
}
.section-bg4{
  background: url(../img/bg4.jpg) no-repeat center / cover;
  background-attachment: fixed;
  height: auto;
}
.title{
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}
.title-text{
  font-family: Lato, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  margin: 12px auto 28px auto;
  text-align: left;
}
.title-block{
  height: 129px;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
  line-height: 129px; 
}
.block-text-span{
  width: 152px;
  color:  #f1ad1d;
  background-color: #fff;
  float: left;
}
.block-text{
  width: 831px;
  background-color:  rgba(0, 0, 0, 0.3);
}
.sec-title{
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color:  #333333;
}
.sec-text{
  font-family: Lato, sans-serif;
  color:  #4d4943;
  font-size: 17px;
  padding-top: 30px;
}
.orange-line{
  background-color:  #f1ad1d;
  width: 60px;
  height: 2px;
  border: 0px;
  margin-top: 55px;
}
.orange-span{
  color: #f1ad1d;
}
.text-white{
  color: #fff;
}
.logo-companies{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.logo-company{
  padding: 0px 30px;
}
.text-bg_bridge{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.link-bg_bridge{
  text-decoration: none;
  color: #f1ad1d;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.white-line{
  background-color:  #fff;
  width: 281px;
  height: 2px;
  border: 0px;
  margin-top: 50px;
}