@font-face{
    font-family: "Futura";
    src: url("../fonts/futura.ttf");
}
.main-block{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.header{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    /* transform: translate3d(700px, 0, -800px) rotateY(30deg); */
}
.layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.layer-base{
    transform: translateZ(0);
}
.layer-back{
    transform: translateZ(-49px) scaleX(1.5) scaleY(2);
}
.layer-back-header{
    transform: translateZ(-49px) scale(1.5);
}
.bg-shadow{
    background-color:  rgba(0, 0, 0, 0.8);
}
.white-section{
    z-index: 3;
    background-color: #fff;
}
.section{
    position: relative;
    height: 580px;
    transform-style: preserve-3d;
    /* transform: translate3d(700px, 0, -800px) rotateY(30deg); */
}
.section::before {
    position: absolute;
    left: 0;
    content: "";
    width: 101%;
    height: 60px;
    background-image: linear-gradient(to top right, #fff 50%, transparent 50%), linear-gradient(to top left, #fff 50%, transparent 50%);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
    top: -60px;
} 
.section::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top right, transparent 50%, #fff 50%), linear-gradient(to top left, transparent 50%, #fff 50%);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
}
.bg-header{
    background: url(../img/bg-header.jpg) no-repeat center / cover;
    height: 100vh;
}

.main-menu{
    height: 110px;
    background-color:  #fff;
    margin-top: 32px;
    line-height: 110px;
    font-weight: 700;
    margin-bottom: 173px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.company-name{
    color:  #424f57;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10%;
}
.name-span{
    color:  #14afca;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.menu-list{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 52px;
    display: inline-block;
}
.menu-list a{
    color:  #3e4b4e;
    text-decoration: none;
}
.menu-list a:hover{
    color:  #14afca;
}
.title{
    font-family: 'Futura', sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    color:  #fff;
    line-height: 75px;
}

/* -------------- */
.block-what{
    height: 465px;
}
.block-title{
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    margin-top: 110px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.block-subtitle{
    font-family: 'Open Sans', sans-serif;
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}
.block-text{
    color:  #424f57;
    font-size: 16px;
    line-height: 30px;
    margin: 0 210px;
}

/* -------------- */

.bg-companies{
    background: url(../img/bg-companies.jpg) no-repeat center / cover;
    height: 90vh;
}
.wht-text{
    color: #fff;
}
.block-companies{
    height: 630px;
}
.logo-companies{
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    align-items: center;
    margin-top: 50px;
    width: 1100px;
    margin: 0 auto;
}
.logo-company{
    margin: 0 20px 100px 20px;
}
.logo-adobe{
    background-color:  #fcfbfb;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    width: 222px;
    height: 93px;
}
.logo-adobe::before{
    content: url(../img/companies/adobe-logo.png);
    width: 77px;
    height: 63px;
    position: relative;
    top: 15px;
}
/* -------------- */
.block-persons{
    height: 700px;
}
.persons{
    display: grid;
    grid-template-columns: 280px 280px 280px;
    grid-column-gap: 88px;
    padding: 0 165px;
}
.person-info{
    color:  #424f57;
    font-size: 15px;
    line-height: 28px;
    margin-top: 22px;
}
/* -------------- */

.bg-testimonials{
    background: url(../img/bg-testimonials.jpg) no-repeat center / cover;
    height: 90vh;
}
.block-testimonials{
    padding-top: 60px;
}
.text-testimonials{
    font-family: 'Open Sans', sans-serif;
    color:  #d3cccc;
    font-style: italic;
}
.text-author{
    font-family: 'Open Sans', sans-serif;
    color:  #fff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    text-align: right;
    margin-right: 390px;
    margin-top: 18px;
}
/* -------------- */

.footer-text{
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #424f57;
    margin: 0 300px;
}
.copyright{
    font-family: 'Open Sans', sans-serif;
    color:  #3d3c3c;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    margin: 113px auto 104px auto;
}
.copyright-span{
    font-weight: 700;
}
  