table{
    border: 20px solid rgb(75, 75, 75);
    border-collapse: collapse;
    margin: 30px auto;
}
td{
    width: 140px;
    height: 100px;
    border: 10px solid rgb(75, 75, 75);
}
.size_height{
    height: 215px;
}
.footer_second_col{
    width: 225px;
}
.footer_square{
    width: 100px;
} 
.background_black{
    background-color: black;
}
.background_blue{
    background-color: rgb(40, 112, 184);
}
.background_yellow{
    background-color: yellow;
}
.background_red{
    background-color: red;
}