@font-face{
    font-family: "Arimo-regular";
    src: url("../fonts/Arimo-regular.eot"),
         url("../fonts/Arimo-regular.svg"),
         url("../fonts/Arimo-regular.ttf"),
         url("../fonts/Arimo-regular.woff"),
         url("../fonts/Arimo-regular.woff2");
}
table{
    border:23px solid rgb(55, 71, 101);
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    font-family: "Arimo-regular", sans-serif;
    line-height: 24px;
    color:  #484848;
    text-transform: uppercase;
    box-sizing: border-box;
}
.table_name{
    width: 198px;
    height: 112px;
    background-color:#fafafa;
    font-size: 14px;
}
.table_name > span{
    font-size: 20px;
}
.head_name{
    height: 166px;
    font-size: 24px;
    font-weight: 700;
    padding: 18px 0px;
    color: #fff;
    box-sizing: border-box;
}
.standart_background{
    background-color:  #89c331;
}
.ultimate_background{
    background-color: #f04a56;;
   
}
.premium_background{
    background-color:  #20807c;
}
.medium_gray_col{
    background-color:  #f2f2f2;
}
.grey_line_col{
    background-color:  #e3e3e3;
}
.price{
    margin: 22px auto;
    font-size: 36px;
    position: relative;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
}
.span_price{
    font-size: 18px;
    position: absolute;
    top: -7px;
    left: 62px;
}
.span_text{
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 94px;
}
.fas{
    color: #848484;
    font-size: 24px;
}
.far{
    color: #848484;
    font-size: 24px;
}
.font_awesome{
    font-size: 20px;
    font-weight: 700;
    font-family: "Arimo-regular", sans-serif;
    color: #484848;
    line-height: 28px;
}
.col_width{
    width: 157px;
}
td{
    box-shadow: 0px -15px 15px -18px inset rgb(180, 180, 180);
}
th{
     box-shadow: 0px -15px 15px -18px inset rgb(180, 180, 180); 
}
.button{
    width: 144px;
    height: 41px;
    font-family: "Arimo-regular", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom,  #414141 84%, rgb(49, 49, 49) 16%);
    transition: all 500ms ease; 
}
@keyframes buttons_are_jumping {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(-10px);
    }
}
.button:hover {
    animation: buttons_are_jumping 1s;
}

