.main-block{
    font-family: 'Bungee', sans-serif;
    font-size: 40px;
    width: 100%;
    height: 100vh;
    background: url(../img/Background.jpg) no-repeat center / cover;
    position: relative;
}
.timer{
    background: #505050;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 19%;
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
}
.scoreboard{
    background: #808080;
    color: #E0E0E0;
    font-size: 70px;
    border-radius: 4px;
    width: 94px;
    height: 70px;
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
}
.points{
    font-size: 60px;
}
button{
    font-family: 'Bungee',  sans-serif;
    font-size: 24px;
    height: 64px;
    width: 150px;
    border-radius: 4px;
    border:0px;
    position: relative;
    outline: none;
    background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
}
button:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
}
