.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__group {
    position: relative;
    height: 55vh;
    transform-style: preserve-3d;
    /* transform: translate3d(700px, 0, -800px) rotateY(30deg); */
  }
  .parallax__group-header {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    /* transform: translate3d(700px, 0, -800px) rotateY(30deg); */
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back-header {
    transform: translateZ(-49px) scale(1.5);
  }
  .parallax__layer--back {
    transform: translateZ(-49px) scaleX(1.5) scaleY(2);
  }
  